@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="sqs-block-content">
    <p>At The Skopje Cinema, we want to give our customers the best experience possible. Generally this means providing you with an incredible time at our events, however at other times, it’ll be something equally as important, but much less fun – such as this. We are talking about protecting the data of our customers. Not the most exciting topic we know, but the security of your data is as important to us as it is to you. All of The Skopje Cinema team are customers too – and we want to make sure that we take as good as care of your data as we do ours. We are committed to protecting your privacy and will take all steps necessary to comply with our legal obligations when using your personal data. This Privacy Policy explains how we fulfil this commitment, so please read this carefully.</p>
    <p>&nbsp;</p>
    <p>For the purposes of the data protection laws, we are the “data controller”, meaning that we are responsible for deciding how your personal data is used and more importantly, for keeping your data safe and only using it for legitimate purposes.</p>
    <p>&nbsp;</p>
    <p><strong>What this policy explains</strong></p>
    <p>&nbsp;</p>
    <p>•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; What data we collect about you</p>
    <p>•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Why we use your data and our legal grounds for doing so</p>
    <p>•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Who we share your data with</p>
    <p>•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Whether we send your data outside of the EEA or not</p>
    <p>•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The Skopje Cinema marketing communications and how to opt-out</p>
    <p>•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; When and why you might see adverts for The Skopje Cinema online</p>
    <p>•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; How we keep your data safe</p>
    <p>•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Third party websites</p>
    <p>•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; How long we store your data</p>
    <p>•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Your rights and how to exercise them</p>
    <p>•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Changes to our policy</p>
    <p>•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; How to contact us</p>
    <p>&nbsp;</p><p><strong>What data do collect we about you?</strong></p>
    <p>We have set out below the different types of personal data that you provide directly to us, or which we collect from you when we interact. We also wanted to let you know why we use this data and the different legal grounds which allow us to do so.&nbsp; You don’t have to give us any of this data but if you don’t, you may not be able to buy tickets and you are unlikely to receive our optimal overall customer experience. &nbsp;But that is your choice – and we respect that.</p>
    <p><br>You may provide us with the following types of personal data when you directly interact with us (through our websites, in person at our events or otherwise):</p>
    <ul>
      <li><strong>Contact </strong>- first name, surname, gender, DOB, account log-in information, country of residence, email address, telephone numbers and address<br>&nbsp;</li>
      <li><strong>Profile – </strong>your preferences for marketing, other website preferences, your contact history and feedback on your The Skopje Cinema experiences through reviews surveys</li>
    </ul>
    <p><strong>&nbsp;</strong></p>
    <p>We may also collect the following types of personal data from you when you use our websites (using <strong>Cookies</strong> or other tracking technologies):</p>
    <ul>
    <li><strong>Technical – </strong>browser type, device information, IP address, hardware type, network and software identifiers, operating system and system configuration<br>&nbsp;</li>
    <li><strong>Usage – </strong>information about how you use our websites, including time spent on page, click-throughs, download errors, browsing patterns</li>
        </ul><p>&nbsp;</p>
    <p><strong>Why do we use your data and what are our legal grounds?</strong></p>
    <p>The table below sets out how we use your personal data and our lawful basis for doing so. In addition to these purposes, please note that we also anonymise and aggregate personal data (so that it does not personally identify you) and use it for testing our internal systems, carrying out research and general customer data analysis. Because this is not personally identifiable, we can use this for any purposes. &nbsp;</p>
</div>
